.Btn {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
.btnIcon {
    height: 25px;
}
.twitterIcon {
    height: 25px;
}
.facebookIcon {
    height: 28px;
    margin-left: 22px;
}
