.productCard {
    background-color: white;
    height: 485px;
    max-width: 284px;
    min-width: 284px;
    width: 100%;
    border-radius: 10px;
}
.productCard:hover {
    box-shadow: 0px 0px 20px 0px;
}
.productCardImg {
    height: 284px;
    width: 100%;
    border-radius: 10px;
}
.productCardBody {
    margin-left: 20px;
    margin-top: 20px;
    
}
.productCardPrice {

}
.productCardTitle {

}
hr {
    padding: 0;
    margin: 0;
}